@model TVEpisodeViewModel
@{
	ViewBag.Title = String.Format(UIStrings.WatchingEpisode, Model.Episode.Title, Model.Show.Title);
}

<div id="submenu">
	<h1>@String.Format("{0} {1}x{2} - {3}", Model.Show.Title, Model.Season.SeasonNumber, Model.Episode.EpisodeNumber, Model.Episode.Title)</h1>
</div>

<div id="content" class="center">
@{
	Html.RenderAction("Player", "Stream", new
	{
		type = MPExtended.Services.Common.Interfaces.WebMediaType.TVEpisode,
		itemId = @Model.Episode.Id
	});
}
</div>