@model IEnumerable<MovieViewModel>
					 
@if (ViewBag.Availability.Movies)
{
<h2>@Html.ActionLink(UIStrings.LatestMovies, "NewMovies", "Home", new { count = 50 }, new { })</h2>

<div class="contentReplacement">
<ul class="imglist">
@foreach (var movie in Model)
{
	<li>
		<a href='@Url.Action("Details", "MovieLibrary", new { movie = movie.Id }, null)'>
			<img width="150" height="224" src='@Url.Action("Cover", "MovieLibrary", new { movie = movie.Id, width = 150 })' alt="No image" />
			<span class="title">@movie.Movie.Title</span>
		</a>
	</li>
}
</ul>
</div>
}
