@model PlayerViewModel

<div id="hlsplayer" style="width: 620px; height: 350px; background: #000;"
	data-url='@Url.Action("StartHttpLiveStream", "Stream", new { type = Model.MediaType, itemId = Model.MediaId, transcoder = Model.TranscoderProfile.Name, continuationId = Model.ContinuationId })'>
		<div id="loader">
				<img src='@Url.ContentLink("Images/ajax-loader.gif")' />
		</div>
</div>
<div id="error">
	@UIStrings.FailedToStartStream
</div>